@import '../../App.scss';


.areas-wrapper {
  width: 30%;
  max-width: 275px;
  text-align: left;
  border-left: 2px solid $red;
  h3 {
    margin-left: 5.5rem;
    font-size: 1.5rem;
  }
  .action-area-wrapper {
    margin: 2rem .5rem .5rem;
    display: flex;
    img {
      height: 4rem;
      width: 4rem;
      margin: .25rem .5rem;
    }
    p {
      width: 100%;
      align-self: center;
    }
  }
}
