@import '../../App.scss';

.signup-form-wrapper {
  background-color: $darkgray2;
  color: $lightgray1;
  width: 80%;
  min-width: 700px;
  height: 17rem;
  margin-left: 10%;
  padding: 1rem;

  > p {
    width: 90%;
    margin-left: 5%;
    color: $red;
    margin-bottom: 1rem;
    font-size: 1.2rem;
    text-align: center;
  }
  form {
    display: flex;
    flex-direction: column;
    
    .inputs-wrapper {
      width: 70%;
      align-self: center;
      display: flex;
      justify-content: center;

      label {
        margin: .5rem 0;
        text-align: center;
      }
      input {
        width: 20rem;
        margin: .2rem 0 1.5rem .2rem;
        padding: .5rem;
        font-size: 1rem;
        text-align: center;
      }
    }
    button {
      height: 2.5rem;
      width: 20rem;
      padding: .5rem;
      align-self: center;
      border: none;
      background-color: $red;
      color: $lightgray1;
      font-size: 1.5rem;
      font-weight: bold;
      transition-duration: .2s;
      > p {
        transform: translateY(-5px);
      }
      &:focus {
        outline: none;
        background-color: adjust-color($color: $red, $lightness: 5%);
      }
      &:active {
        background-color: adjust-color($color: $red, $lightness: -5%);
      }
      &:hover {
        transform: scale(1.2);
      }
    }
  }
}