// Primary palette
$red: #EF4136;
$lightgray1: #DAD9D5;
$lightgray2: #BCBDBC;
$darkgray1: #4D4E56;
$darkgray2: #231F20;

// Secondary palette
$orange: #FF7200;
$blue: #005EB8;
$deepgreen: #007A69; 
$brightgreen: #B0CC1B;

@import './assets/fonts/Sectra/sectra-imports.scss';
@import './assets/fonts/Walsheim/walsheim-imports.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Walsheim', Verdana, Geneva, Tahoma, sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Sectra', Georgia, 'Times New Roman', Times, serif;
}

form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  width: 40vw;

  input {
    margin-left: .2rem;
    width: 20rem;
  }
}